.contenido__footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color:  #12c2ca;
}

.contenido__footer img{
    width: 150px;
    
}


/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media screen and (max-width: 767px){

    .footer{
        padding: 1.5rem 0;
    }

    .contenido__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido__footer_info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */
@media (min-width:1024px){
    .formulario__input-container input{
        width: 700px;
       }
}
@media (min-width:768px) and (max-width:1024px){
    .contenido__footer_info{
        flex-direction: column;
    }
    .contenido__footer_info{
        width: 55%;
    }
}
