<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../estilos/home.css">
    <link rel="stylesheet" href="../estilos/general.css">
    <link rel="stylesheet" href="../estilos/footer.css">
    <link rel="stylesheet" href="../estilos/menu-hamburguesa.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a5a484aee.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">

    <title>Drones</title>
    <style>
        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <a href="#" class="enlace">
                    <img class="logo" src="imagenes/drone-home2.png" alt="">
                </a>
                <ul>
                    <li><a  href="../index.html">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a class="active" href="../vistas/drones.html">Drones</a></li>
                    <li><a href="../Medicinas/medicacion.html">Medicina</a></li>
                    <li><a href="../contacto/formulario.html">Contacto</a></li>
                </ul>
            </nav>

            <h2>Drones</h2>
            <div id="app" class="pb-5">
                <div v-if="carga">{{message}}</div>
            <table class="table"  style="color: white;margin-bottom:0px;">
                <thead>
                    <tr >
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Localización</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dron in drones" loc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14305.495841197791!2d-59.38964885916644!3d-26.314387711663777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9443914d524a865f%3A0xb207c9c68100eaa6!2sHospital%20El%20Colorado!5e0!3m2!1sen!2sus!4v1683942233475!5m2!1sen!2sus">
                        <th scope="row">{{dron.serial_number}}</th>
                        <td>{{dron.model}}</td>
                        <td>{{dron.state}}</td>
                       
                        <td><button type="button" class="ver btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="initMap()"> Ver</button></td>
                      <td><button  type="button" class="ver btn btn-primary" data-bs-toggle="modal" data-bs-target="#imagenDron" v-on:click="ver=true"> Ver</button></td>
                      
                     
                    </tr>
                   
                </tbody>
            </table>
            <br><br>
           <div v-if="ver">
            <div class="modal-body">
                <div class="container" style="text-align:center;">
                  <img :src=imagenDron style="width:400px;">
                </div>
            </div>
           </div>
        </div>
    </div>
    </header>
   
    
   
<footer class="footer">
    <div class="contenido__footer">
       
            <img src="../imagenes/drone-home2.png">
           <p>Copyright 2023©</p>
    </div>
    
</footer>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</html>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Localizacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <iframe id="miIframe" src="" width="450" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="modal-footer" style="background-color: black;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

